extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Eshaa Dhall

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Bio.
        .portfolio-bio
          p
            | I am an aspiring Full stack Javascript developer.
            | I currently work as a Database Engineer.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li JQUERY
          li HTML, CSS
          li Java
          li SQL

        h6 Contact Info
        ul
          li 732-429-0990
          li fullstackdev@gmail.com

      
        //- Url to social media accounts.
        a.button.expanded(href='https://github.com/eshaadhall') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
