extends layout.pug

block content
  div
    h1.h1 Work
    p.lead.text-light
        | Below are some of my recent Javascript projects.

  div.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each val in projects
        div.cell
            img.thumbnail(src=val.image_urls[0])
            figcaption.overlay
              h5.text #{val.name}
              a.button(href=`/project/${val.id}`)
                span View Website >
